@font-face {
  font-family: "Cavalcade";
  src: url(CursedCavalcade-xRxwm.ttf);
}
@font-face {
  font-family: "Cool";
  src: url(Coolvetica\ Rg\ Cond.otf);
}


.header { 
    color: black;
    text-align: center;
    font-size: clamp(1.8rem, calc(7vw + 1rem), 10rem);
    -webkit-text-stroke: .02px white;
    font-family: "Cavalcade";
}

audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);}

body {
  width: auto;
  height: auto;
  background: url(bkg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}

a {
  font-family: "Cool";
  font-size:  clamp(.9rem, calc(3vw + .5rem), 5rem);
  margin-left: clamp(3rem, calc(12vw + 1.8rem), 18rem);
}

a:hover {
  font-size:  clamp(1.2rem, calc(4vw + .7rem), 7rem);
  filter: drop-shadow(2px 3px 3px #000000);
  color: red;
}